.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.object{
  display: inline-block;
  width: 260px;
  margin: 12px;
  border: 1px solid #222;
}